*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: helvetica, arial, sans-serif;
}

.main {
	background: #eee;
	margin: 0 auto;
	padding: 1.5em;
	overflow: auto;
    max-width: 960px;
    width: 90%;
}

.logo {
	text-align: left;
	overflow: hidden;
	clear: both;
	margin-left: 0;
	width: 21.25%;
	float: left;
}

.logo a {
	color: red;
	font-weight: bold;
	font-size: 2em;
	text-decoration: none;
}

#test-popup {
	overflow: auto;
}

#test-popup img {
	float: left;
}

.nav {
  width: 78.752%;
  background: #ddd;
  padding: .2em;
  float: left;
}

#menu {
	display: block;
}

.slicknav_menu {
	display: none;
}

#menu ul {
	padding: 0;
	margin: 0;
}

#menu li {
	display: inline-block;
	padding: 0.5em 0.5em;
	width: 23%;
	text-align: center;
}

#menu li a {
	color: #333333;
	text-decoration: none;
}

.column {
	float: left;
	margin-left: 5%;
	text-align: center;
}

.column:first-child {
	margin-left: 0;
}

.column.full {
  width: 100%;
  background: #ddd;
  padding: 2.5em;
}
  
.column.two-thirds {
  width: 65%;
  background: #ddd;
  padding: 1.5em;
}
  
.column.half {
  width: 47.5%;
  background: #ddd;
  padding: 1.5em;
}
 
.column.one-third {
  width: 30%;
  background: #ddd;
  padding: 1.5em;
}
 
.column.one-fourth {
  width: 21.25%;
  background: #ddd;
  padding: 1.5em;
}

.column.three-fourth {
  width: 73.752%;
  background: #ddd;
  padding: 1.5em;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

.row {
  overflow: hidden;
  margin-top: 1.5em;
}

.row-top {
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .column.full,
  .column.two-thirds,
  .column.half,
  .column.one-third,
  .column.one-fourth,
  .column.three-fourth,
  .logo {
    margin: 1em 0 0 0;
    width: 100%;
  }
  
  .row {
	  margin: 0;
  }
  
  .row-top {
	  margin: 0;
	  width: 40%;
  }
  
  
  .main {
	  width: 100%;
	  padding: 1em;
	  }
	  
	  .nav {
		  display: none;
	  }
	  #menu {
		  display: none;
	  }

	.slicknav_menu {
		display: block;
	}

}